<div class="row col-md-12">
  <% @chatroom = chatroom %>
  <div id="frame">
  <div class="content">
    <div class="contact-profile">
      <%= image_tag(@chatroom.activity.image.url(:thumb)) %>
      <p><%= @chatroom.activity.name %></p>
    </div>
    <div class="messages panel-body" id="messages">
      <% if @chatroom.messages.any? %>
      <div class="panel panel-default">
      <ul id="msgs">
        <%= render partial: 'messages/message', collection: @chatroom.messages, as: :message %>
      </ul>
      <%else%>
        <div class="panel-body hidden" id="messages">
      </div>
      <%end%>
    </div>
    <div class="message-input">
        <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
    </div>
  </div>
</div>
</div>
</div>


  

