/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require imagedrop
 */

$font-family-base: 'Montserrat', sans-serif;

// colors
$primary:       #78BBE6;
$secondary:     #FF895D;

$light:         #D5EEFF;
$dark:          #1B435D;

$h2-font-size: 3em;


//forms

@import "bootstrap";

body {
    background-color: $white;
}

body.new {
    background: image-url("Background1-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body.home_activity_perspective {
    background-color: $light;
}

#main-title {
    color: $dark;
    &:hover {
        color: $secondary;
        text-decoration: none;
    }
}

.form-group {
    color: $light;
    input {
        background-color: rgba(255,255,255,0.8);
        
        &:focus {
            background-color: rgba(255,255,255,0.8);
        }
    }
}

.notice, .alert, .errors{
    color: $secondary;
}

label {
    text-align: right;
    color: $light;
}

.sub-title {
    color: $light;
    border-bottom-style: solid;
    border-bottom-color: $light;
    padding-top: $spacer * .5;
}


.action {
    input {
        color: $light;
        background-color: transparent;
        border-color: $light;
        border-style: solid;
        height: 40px;
        width: auto;
        border-radius: $border-radius;
        &:hover {
            color: $secondary;
            border-color: $secondary;
        }
    }
}


body.pages.home {
    //overflow-y: hidden;
   // height: 100vh;
}


/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
}

.sidebar-sticky {
    border-right: 2px solid $primary;
    position: -webkit-sticky;
    position: sticky;
    top: 84px; /* Height of navbar */
    height: calc(100vh - 84px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    &::-webkit-scrollbar { 
        display: none; 
    }
}

.vertical-center {
  display: flex;
  align-items: center;
}

.activity-row {
    outline-right: 2px solid $primary;
    
    &:hover {
        box-shadow: 0 0 15px 0 hsla(0,0%,51%,.22);
        outline-right-color: $secondary;
        background-color: lighten($light, 15%)
    }
}

.activity-description {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

a.owned-activities-links {
    text-decoration:  none;
    &:hover, &:link, &:active, &:visited {
        text-decoration:  none;
    }
} 

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer;
}

.card-edit {
    -webkit-filter: brightness(100%);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    &:hover {
        -webkit-filter: brightness(70%);
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -o-transition: all .25s ease;
        -ms-transition: all .25s ease;
        transition: all .25s ease;
    }
}

.swipe-card {
    height: 600px;
    width: 300px;
    overflow: off;
    
    .activity-description {
        background: $light;
        height: 200px;
        overflow-y: hidden;
    }
    .card-title {
    }
}

#canvas {
  display: block;
  position: fixed;
  z-index:100;
  pointer-events: none;
  background:transparent;
}

.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}

*[data-imagedrop] {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    padding-top: 100%;
    height: auto;
    width: auto;
    background-color: $primary;
}