/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require imagedrop
 */

$font-family-base: 'Montserrat', sans-serif;

// colors
$primary:       #78BBE6;
$secondary:     #FF895D;

$light:         #D5EEFF;
$dark:          #1B435D;

$h2-font-size: 3em;



@import "bootstrap";

body {
    background-color: $white;
}

body.new {
    background: image-url("Background1-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
body.home body.home_activity_perspective {
    overflow: hidden;
}

body.home body.home_activity_perspective {
    overflow-y: hidden;
}



body.home_activity_perspective {
    background-color: $light;
    transition:color 0.25s ease;
}

#main-title {
    color: $dark;
    &:hover {
        color: $secondary;
        text-decoration: none;
    }
}

nav {
    height: 84px;
}

.form-group {
    color: $light;
    input {
        background-color: rgba(255,255,255,0.8);
        
        &:focus {
            background-color: rgba(255,255,255,0.8);
        }
    }
}

.name_field {
    margin-left: 2vh;
}

.name_field.last_name {
    margin-right:2vh;
}

.notice, .alert, .errors{
    color: $secondary;
}

label {
    text-align: right;
    color: $light;
}

.sub-title {
    color: $light;
    border-bottom-style: solid;
    border-bottom-color: $light;
    padding-top: $spacer * .5;
}


.action {
    input {
        color: $light;
        background-color: transparent;
        border-color: $light;
        border-style: solid;
        height: 40px;
        width: auto;
        border-radius: $border-radius;
        &:hover {
            color: $secondary;
            border-color: $secondary;
        }
    }
}


body.pages.home {
   overflow-y: hidden;
   height: 100%;
}


/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
}

.sidebar-sticky {
    border-right: 2px solid $primary;
    position: -webkit-sticky;
    position: sticky;
    top: 84px; /* Height of navbar */
    height: calc(100vh - 84px);
    overflow-x: hidden;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
    
    .tab-content {
        height: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar { 
            display: none; 
        }
    }
}

.tab-content {
    height: 100%;
    overflow-y: auto;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.activity-row {
    outline-right: 2px solid $primary;
    
    &:hover {
        box-shadow: 0 0 15px 0 hsla(0,0%,51%,.22);
        outline-right-color: $secondary;
        background-color: lighten($light, 15%)
    }
}

.card-section {
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

#activity-description-front {
    max-height: 78px; 
    overflow-y: hidden;
}

a.owned-activities-links {
    text-decoration:  none;
    &:hover, &:link, &:active, &:visited {
        text-decoration:  none;
    }
} 

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer;
}

// Cards
.card-edit {
    -webkit-filter: brightness(100%);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    &:hover {
        -webkit-filter: brightness(70%);
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -o-transition: all .25s ease;
        -ms-transition: all .25s ease;
        transition: all .25s ease;
    }
}
.swipe-card {
    .activity-description {
        background: $light;
        overflow-y: hidden;
    }
    .card-title {

    }
}

//cards flip
.card-flipper {
    height: 415px;
    width: 300px;
    overflow-x: off;
    overflow-y: auto;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    

}
@media( max-height: 600px) {
     .card-flipper {
        height: 200px;
        width: 200px;
    }
}
.swipe-card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.swipe-card div {
    display: block;
    width: 100%;

    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swipe-card .front {
  
}
.swipe-card .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    transform-style: preserve-3d;
}
.swipe-card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}  

@-webkit-keyframes spin {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(2520deg);
    }
}

.swipe-card.rolled {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
}

@-webkit-keyframes spinOpposite {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(-2520deg);
    }
}
.swipe-card.unrolled {
    -webkit-animation-name: spinOpposite;
    -webkit-animation-duration: 2800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
}

#new {
    opacity:0;
}

@-webkit-keyframes show {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#new.shown {
    -webkit-animation-name: show;
    -webkit-animation-duration: 2800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
}


#old {
    opacity:1;
}

@-webkit-keyframes hide {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

#old.hidden {
    -webkit-animation-name: hide;
    -webkit-animation-duration: 2800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
}

#canvas {
  display: block;
  position: fixed;
  z-index:100;
  pointer-events: none;
  background:transparent;
}

.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}

*[data-imagedrop] {
    padding: 0px 0px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    padding-top: 100%;
    height: auto;
    width: auto;
    background-color: $primary;
}

.modal_dialog {
    position: absolute;
    height: 60%;
    width: 50%;
    bottom: 0%;
    left: 40%;
}

.border {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.chatroom {
    background: #000;
    width:100%;
    height:100%;
}

.circleBase {
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    text-align: center;
    width:1em;
    height:1em;
    right:37px;
    top:-10px;
    cursor:pointer;
    z-index:1000;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    font-size: 1.5em;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #000;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}



#card-container {
  overflow-x:hidden; 
  z-index:-1;
}

.card {
    z-index:1000;
}

#old, #new{
 height: 100%;
 width:100%;   
}

