



<div class="container card">
	<h3><%= current_user.first_name %></h3>
    <p><%= current_user.bio %></p>
    <p><%= current_user.college_location %></p>
    <p><%= current_user.interest_list %></p>
</div>
