<div id="card">
<div class="card border border-dark p-1" ontouchstart="this.classList.toggle('hover');" >
      <%= image_tag("medium/sad_slug.jpg", :class => "card-img-top") %>
        <div class="card-body">
        <h5 class="card-title btn btn-danger">Awww!</h5>
        <p class="card-text btn-danger activity-description">Looks like there's no <%= type %> left, check back in a bit!</p>
    </div>
</div>
</div>

