<div class="card-flipper mx-auto" id="card-flipper">
  <div class="card border border-primary card-flip mx-auto swipe-card">
    <div id="old">
      <div class="front">
        <%= image_tag("medium/sad_slug.jpg", :class => "card-img-top") %>
            <div class="card-body py-0 px-2">                 
                <h5 class="card-title btn btn-danger">Awww!</br> There's no <%= type %> left,</br> check back in a bit!</h5>
        </div>
      </div>
</div>