<div class="card-flipper mx-auto" id="card-flipper">
  <div class="card border border-primary swipe-card m-0" onclick="flip()" ontouchstart="this.classList.toggle('hover');" >
    <div id="old" style="background-color: <%= '#ff0000' if activity.max_size == activity.team_count %>">
			<%= render 'pages/swipe_card', activity: activity%>
		</div>
		<div id="new">
   	</div>
  </div>
</div>
<!-- Buttons -->
<div class="buttons" >
	<%= render 'pages/swipe_card_buttons', activity: activity%>
</div>