




<div class="card-flipper mx-auto" id="card-flipper">
  <div class="card border border-primary swipe-card m-0" onclick="flip()" ontouchstart="this.classList.toggle('hover');" >
    <div id="old">
		<%= render 'pages/swipe_profile_card', user: user%>
	</div>
	<div id="new">
   	</div>
  </div>
</div>
<!-- Buttons -->
<div class="buttons" >
	<%= link_to "Dislike", {action: "dislike_profile", controller: "/pages", id: user.id, :remote => true}, {class: 'btn btn-danger btn-left dislike_button'} %>
	<%= link_to "Like", {action: "like_profile", controller: "/pages", id: user.id, :remote => true}, {class: 'btn btn-success btn-right like_button'} %>
</div>