<<<<<<< HEAD
=======
<html>
>>>>>>> b7b303aebb874295f1baaab3715e8af9ce6f9228
  <body>
  	<% if user_signed_in? %>
  	 <div>
		    <h2> Welcome to UniMeet!</h2>
		    <p> test</p>
	   </div>
		<%= render "users/user_card" %>

	  <% end %>
  </body>