
<body>
	<% if user_signed_in? %>
	 <div>
	    <h2> Welcome to UniMeet!</h2>
	    <p> test</p>
   </div>
	<%# @users.each do |user| %>
		<%#= this_user = user %>
		
	<%# end %>
	<div class = "row">
		<div class = "col-4 mx-auto">
			<%= render "users/user_card" %>
		</div>
	</div>

  <% end %>
</body>