<body>
	<% if user_signed_in? %>
		<div class = "row d-flex">
			<div class = "col-md-3 d-none d-md-block sidebar">
				<div class = "sidebar-sticky">
					<% activity = Activity.all %>
					<% activity.each do |activ| %>
						<div class= "nav flex-column activity-row p-2">
		          			<h4><%= activ.name%></h4>
							<p><%= activ.description%></p>
						</div>
					<% end %>
				</div>
			</div>
			<div class = "col-md-9 ml-sm-auto pt-5 px-auto justify-content-center">
				<div class = "col-5 mx-auto">
					<%= render "activities/activity_card" %>
				</div>
			</div>
		</div>
  <% end %>
</body>
