
<body>
	<% if user_signed_in? %>
	 <div>
   </div>
	<%# @users.each do |user| %>
		<%#= this_user = user %>
		
	<%# end %>
	<div class = "row">
		<div class = "col-4 mx-auto">
			<%= render "activities/activity_card" %>
		</div>
	</div>

  <% end %>
</body>