<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @activity_card.activity_id %>
</p>

<%= link_to 'Edit', edit_activity_card_path(@activity_card) %> |
<%= link_to 'Back', activity_cards_path %>
