<div class="card border border-dark">
    <%= display_activity_image(:medium) %>
    <div class="card-body">
        <h5 class="card-title"><%= @activity.name %></h5>
        <p class="card-text"><%= @activity.description %></p>
    </div> 
</div>

<div class="card-body mxauto">
        <a href="#" class="card-link">Like</a>
        <a href="#" class="card-link">Dislike</a>
    </div>