<div class = "row">
    <div class = "col-4 mx-auto">
		<div class="card border border-dark">
    		<div class="card-body">
       			 <%= render 'form' %>
   			</div> 
		</div>
	</div>
</div>


 

