  <head>
    <title>UniMeet - @activity.name</title>
  </head>
  <% if user_signed_in? %>
   <div>
   </div>
  <%# @users.each do |user| %>
    <%#= this_user = user %>
    
  <%# end %>
  <div class = "row">
    <div class = "col-4 mx-auto">
      <div class= "activity-card-container">
        <%= render "activities/activity_card" %>
      </div>
    </div>
  </div>

  <% end %>

